/* General styles */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}



@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter_18pt-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: lightgray;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: darkblue;
}